  <md-content>
    <section>
      <md-subheader class="md-primary">
        <h1>Tweets: </h1>
      </md-subheader>
      <md-list layout-padding infinite-scroll="vm.loadMore()" infinite-scroll-distance="1" >
        <md-list-item class="md-3-line" ng-repeat="tweet in vm.tweets">
          <img ng-src="{{tweet.img}}" alt="{{tweet.user}}" class="md-avatar">
          <div class="md-tile-content">
            <h3>{{tweet.user}}</h3>
            <h4>{{tweet.city}}</h4>
            <p>
              {{tweet.status}}
            </p>
            <p>Puntuacion : </p>
            <p>
              {{tweet.score}}
            </p>

            <p>Palabras detectadas: </p>
            <md-chips ng-model="tweet.token" readonly="true"></md-chips>

            <p>Palabras positivas: </p>
            <md-chips ng-model="tweet.wordPositive" readonly="true"></md-chips>

            <p>Palabras negativas: </p>
            <md-chips ng-model="tweet.wordNegative" readonly="true"></md-chips>

          </div>
          <md-divider inset></md-divider>
        </md-list-item>
      </md-list>
    </section>
</md-content>
